@font-face {
    font-family: 'GilroyB';
    src: url('../fonts/Gilroy-Bold.woff2') format('woff2'),
         url('../fonts/Gilroy-Bold.woff') format('woff'),
         url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'GilroyM';
    src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
         url('../fonts/Gilroy-Medium.woff') format('woff'),
         url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
body{
    font-family: 'GilroyB';
    font-size: 18px;
    line-height: 22px;
}
html{
    box-sizing: border-box;
    background-color: #FFF;
}
a{
    color: #828282;|

}
.container{
    max-width: 1445px;
    width: 944px;
    margin: 0 auto;
    padding: 0 250px;
}
.menu{
    text-align: center;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: #FFF;
}
.menuNav{
    display: inline-block;
    padding: 30px 0 10px 0;
}
.menuNav div{
    float: left;
    display: inline-block;
    width: 188px;
    height: 30px;
    margin: 2px;
    padding: 0;
    margin: 0;
    text-align: center;
}
.menuNav div::after{
    margin-top: 10px;
    background-color:  black;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.menuNav div:hover::after,
.menuNav div:focus::after{
    width: 100%;
}
.menu a{
    text-decoration: none;
}
.myContacts{
    padding-top: 100px;
    margin: 40px 0 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p.name{
    font-size: 47.3392px;
    line-height: 59px;
    height: 117px;
    width: 205px;
}
p.aboutMe{
    font-family: 'GilroyM';
    height: 50px;
    width: 240px;
}
.language{
    transform: rotate(270deg);
}
.headerImg{
    background-repeat: no-repeat;
    width: 943.61px;
    height: 387px;
    background-image: url(../images/BSPP2266.jpg);
    padding-bottom: 100px;
}
div.aboutMe{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 50px 0;
    background-color: #F6F6F6;
}
.aboutMeText{
    font-family: 'GilroyM';
    text-align: center;
    width: 460px;
    height: 200px;    
}
p.title{
    font-size: 34px;
    line-height: 42px;
    margin-bottom: 20px;
}
.skills{
    padding: 70px 0;
}
.skillsText{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'GilroyM';
}
.skillsText p.txt{
    font-family: 'GilroyB';
    font-size: 34px;
    line-height: 42px;
    padding-bottom: 70px;
}
.skillsCard{
    margin: 80px 0;
    display: flex;
    justify-content: space-between;
    color: #828282;

}
img.icons{
    height: 100px;
    width: 90px;
}
.logo{
    width: 170px;
    height: 210px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}
div.logo p{
    margin: 20px 0;
}
img.stars{
    margin-top: 10px;
}
.Portfolio{
    background-color: #F6F6F6;
    padding: 70px 0;
}
.portfolioTxt{
    font-size: 34px;
    line-height: 42px;
    text-align: center;
}
.portfolioBlock{
    margin-top: 70px;
}
.portfolioBlock p{
    font-family: 'GilroyM';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: 40px;
}
.contact{
    text-align: center;
    padding: 100px 0;
}
.contact p{
    font-family: 'GilroyM';
}
.contact h4{
    font-size: 34px;
    line-height: 42px;
}
.SMFooter{
    width: 180px;
    height: 40px;
    color: #fff;
    background-color: black;
    border-radius: 50px;
}

.SMFooter:hover{
    color: black;
    background-color: white;
    
}
.WhantToKnow{
    margin: 20px 0 30px 0;
}
.contactIcons{
    width: 350px;
    margin: 80px auto 40px auto;
    display: flex;
    justify-content: space-between;
}
.likeMe{
    font-size: 14px;
    line-height: 17px;
}
